.header {
  grid-area: h;

  .header__wrapper {
    padding: 0 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .link {
      text-decoration: none;
      color: black;
      font-weight: 900;
    }
  }

  .wall {
    grid-area: w;
    height: 62px;
    width: 100%;
    background-image: url(../../img/patter.svg);
  }
}
