@use "../../style/mixin";

.header {
  grid-area: h;

  .header__wrapper {
    @include mixin.flex(row, center, space-between);
    padding: 0 20px 0px 20px;

    .link {
      text-decoration: none;
      color: black;
      font-weight: 900;
    }
  }

  .wall {
    grid-area: w;
    height: 62px;
    background-image: url(../../img/patter.svg);
  }
}
