@use "../../style/mixin";

.header {
  grid-area: h;

  .header__wrapper {
    @include mixin.flex(row, center, space-between);
    padding: 0 20px 0px 20px;

    .link {
      text-decoration: none;
      color: black;
      font-weight: 900;
    }
  }

  .wall {
    grid-area: w;
    height: 62px;
    background-image: url(../../img/patter.svg);
  }
}

.deleteLogin {
  @include mixin.button($bord: 3px solid black, $rad: 4px); 
  color: white;
  background-color: #FF0101;
  margin-left: 8px;
}
