@mixin flex($dir, $posAl: left, $posJus: left, $displ: flex) {
  display: $displ;
  flex-direction: $dir;
  align-items: $posAl;
  justify-content: $posJus;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin border($col, $wid, $type: solid) {
  border: $col $wid $type;
}

@mixin font($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}

@mixin button($bord: 3px solid black, $rad: 4px) {
 border-radius: $rad;
 border: $bord;
 outline: none;
 cursor: pointer;
}

@mixin textarea($font: 20px,$borRad: 4px,$resize: none) {
  @include border(black, 3px);
    resize: none;
    border-radius: 4px;
    font-size: 20px;
    outline: none;
}

@mixin text($color: #8CEB6B, $pad: 5px 20px 5px 20px, $borRad: 4px) {
  background-color: $color;
  border-radius: $borRad;
  padding: $pad;
  outline: none;
}

