.wrapper {
    margin-top: 100px;
}

.wrapper > p {
    font-size: 25px;
}

.wrapper__cicle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    gap: 25px;
}

.wrapper__cicle__item {
    display: flex;
    flex-direction: column;
}

.wrapper__cicle div{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 50%;
    margin-bottom: 30px;
}