@use "../../../style/mixin.scss";

@mixin status($color: #8CEB6B, $borRad: 4px, $pad: 5px 20px 5px 20px) {
    background-color: $color;
    border-radius: $borRad;
    padding: $pad;
}

.wrapper {
    padding: 30px 100px 0px 30px;

    h2 {
        text-align: center;
    }

    p {
        @include mixin.font(900, 20px);
        text-align: center;
    }

    .avatar {
        width: 30%;
        display: block;
        margin: auto;
    }
}

.span_status {
    @include mixin.border(black, 3px);
    @include status();
}

.input_status {
    @include mixin.border(black, 3px);
    @include status();
    display: block;
    margin: auto;
}