@use "../../../style/mixin.scss";

.wrapper {
    padding: 30px 100px 0px 30px;

    h2 {
        text-align: center;
    }

    p {
        @include mixin.font(900, 20px);
        text-align: center;
    }

    .avatar {
        width: 25%;
        display: block;
        margin: auto;
    }
}

.span_status {
    @include mixin.border(black, 3px);
    @include mixin.text();
}

.input_status {
    @include mixin.border(black, 3px);
    @include mixin.text();
    display: block;
    margin: auto;
}