@use "../../../style/mixin.scss";

.wrapper {
  padding: 30px 100px 0px 30px;

  p {
    @include mixin.font(900, 20px);
    text-align: center;
  }

  .avatar {
    width: 25%;
    display: block;
    margin: auto;
  }
}

.wrapper__status {
  @include mixin.flex(row, center, center);
}

.span_status {
  @include mixin.border(black, 3px);
  @include mixin.text();
  color: black;

  p {
    margin: 0;
  }
}

.input_status {
  @include mixin.border(black, 3px);
  @include mixin.text();
  color: black;
  display: block;
  margin: auto;
}
