@use "../../style/mixin";

.wrapper__items {
  @include mixin.border(#8ceb6b, 5px);
  @include mixin.flex(column, center);
  background-color: #b095ff;
  width: 80%;
  height: 100%;
  margin-top: 40px;
  border-radius: 4px;

  h1 {
    color: black;
  }
}

.login {
  input {
    @include mixin.font(800, 16px);
    @include mixin.button();
    width: 20rem;
    display: block;
    margin-bottom: 5px;
    line-height: 30px;
  }
}

.error__mess {
  font-style: oblique;
  font-size: 14px;
  margin-bottom: 3px;
  color: white;
}

.button {
  button {
    @include mixin.button();
    @include mixin.font(800, 16px);
    width: 31%;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8ceb6b;

    &:disabled {
      background-color: #ff0101;
      color: white;
    }
  }
}
