@use "../../../style/mixin.scss";

.new__post {
    margin-top: 40px;
    @include mixin.text(var(--color-post), 10px);
    @include mixin.flex(column, center);
    @include mixin.border(var(--border-post), 3px);
    p {
        margin: 0;
        font-weight: 800;
    }
}